@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Rubik+Distressed&display=swap');
body{
  background-color: #FFDB73;
}
header{ 
  background-color: #F2C44E;
  border-radius: 35px;
  padding: 5px;
  margin: 10px;
}
section{ 
  background-color: #F2C44E;
  border-radius: 35px;
  padding: 5px;
  margin: 10px;
}
#water{
  clip-path: polygon(100% 11%, 86% 26%, 68% 23%, 61% 34%, 48% 29%, 39% 40%, 28% 40%, 23% 56%, 14% 55%, 12% 70%, 0 74%, 0% 100%, 100% 100%);
  background-color:blue;
  position: fixed;
  bottom:0;
h1{ 
  font-size: 80px;
  font-family: "Rubik Distressed", system-ui;
  font-weight: 100;
  font-style: normal;
  color: #876222;
  text-align: center;
}
h2{ 
  font-size: 50px;
  font-family: "DynaPuff", system-ui;
  font-weight: 50;
  font-style: bold;
  color: #876222;
  text-align: center;
}
p{font-size: 16px;
  font-family: "DynaPuff", system-ui;
  font-weight: 50;
  font-style: normal;
  color: #876222;
  text-align: center;
}
