@import url('https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap');
body{
  background-color: #FFDB73;
}
header{ 
  background-color: #E3B864;
  border-radius: 14px;
  padding: 10px;
}
h1{ 
  font-size: 100px;
  font-family: "Rubik Distressed", system-ui;
  font-weight: 200;
  font-style: normal;
  background-color: #876222;
}
